@import url("./root.css");

header h1 {
    text-align: center;
}

.imgContainer {
    .group {
        display: flex;
        max-height: 200px;
        padding: 5px;

        &:nth-child(2n) {
            padding-top: 0;
        }
    }

    .imgWrapper {
        margin: 0 3px;
        overflow: hidden;
        width: 100%;
    }
    
    img {
        width: 100%;
        height: 100%;

        &:hover {
            transition: .3s;
            transform: scale(1.1);
        }
    }
}